  body {
   /* margin: 40px 10px;*/
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }


  .visualizar {
    display: block;
  }

  .form {
    display: none;
  }

  .tipo-evento{
    float: center;
  }


  #wrap {
    margin: 0 auto;
  }

  #external-events {

    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
 width: 100%;
 height: 50%;
   

  }

  
  .col-centered{
    float: none;
    margin: 0 auto;
  }


.fc-row .fc-week .fc-widget-content{

height: 50%!important;

}

#calendar a.fc-event {
  color: #fff; /* bootstrap default styles make it black. undo */
}

.teste{

  background-color: #cccccc!important;
}


body#bagenda a#agenda, i#icon1,
body#bminhaagenda a#minhaagenda, i#icon2,
body#bservidores a#usuario,
body#bsetor a#setor {
    box-shadow: inset 3px 0 0 #ccc;
    background-color: #33383e;
}


a:hover {
    color: #ccc;
    text-decoration: none!important;
}

